{% load static i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:index' %}">
            <img src="{% static "img/logo.png" %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    {% if request.path == '/news/' %}
                        <a class="nav-link active" href="{% url 'mainapp:news' %}?href=1">{% translate "News" %}</a>
                    {% else %}
                        <a class="nav-link deactivate" href="{% url 'mainapp:news' %}?href=1">{% translate "News" %}</a>
                    {% endif %}
                </li>
                <li class="nav-item ">
                    {% if request.path == '/courses/' %}
                        <a class="nav-link active" href="{% url 'mainapp:course' %}">{% translate "Course" %}</a>
                    {% else %}
                        <a class="nav-link deactivate" href="{% url 'mainapp:course' %}">{% translate "Course" %}</a>
                    {% endif %}
                </li>

                {% if not request.user.is_active %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% translate "Profile" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ddProfile">
                            <a class="dropdown-item" href="{% url 'authapp:register' %}">{% translate "Register" %}</a>
                            <a class="dropdown-item" href="{% url "authapp:login" %}">{% translate "Sign in" %}</a>
                        </div>
                    </li>
                {% elif user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% translate "Profile" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ddProfile">
                            <a class="dropdown-item"
                               href="{% url 'authapp:update' %}">{% translate "Edit profile" %}</a>
                            <a class="dropdown-item" href="#">{% translate "My courses" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">{% translate "Moderation" %}</a>
                            <a class="dropdown-item"
                               href="{% url 'admin:index' %}">{% translate "Administrative department" %}</a>
                            <a class="dropdown-item" href="{% url 'mainapp:log_view' %}"
                               target="_blank">{% translate "Log" %}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url "authapp:logout" %}">{% translate "Exit" %}</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {% translate "Profile" %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ddProfile">
                            <a class="dropdown-item"
                               href="{% url 'authapp:update' %}">{% translate "Edit profile" %}</a>
                            <a class="dropdown-item" href="#">{% translate "My courses" %}</a>
                            <a class="dropdown-item" href="{% url "authapp:logout" %}">{% translate "Exit" %}</a>
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item ">
                    {% if request.path == '/contacts/' %}
                        <a class="nav-link active" href="{% url 'mainapp:contacts' %}">{% translate "Contacts" %}</a>
                    {% else %}
                        <a class="nav-link deactivate"
                           href="{% url 'mainapp:contacts' %}">{% translate "Contacts" %}</a>
                    {% endif %}
                </li>
            </ul>
            <div class="row justify-content-end m-0">
                <div class="col p-0 border-right">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="language" type="hidden" value="ru">
                        <button type="submit" class="btn btn-link">🇷🇺</button>
                    </form>
                </div>
                <div class="col p-0 border-left">
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="language" type="hidden" value="en">
                        <button type="submit" class="btn btn-link">🇬🇧</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>